{% extends "layout.html.twig" %}

{% block library_stylesheets %}
    <link href='//fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ asset('assets/css/paper-dashboard.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/css/themify-icons.css') }}">
{% endblock library_stylesheets %}

{% block content %}

<div class="wrapper">

	{% include 'parts/sidebar.twig' %}

	<div class="main-panel">

		{% include 'parts/navbar.twig' %}

	    <div class="content">
	        <div class="container-fluid">
	            <div class="row">
						{{ form_start(form) }}
							<div class="col-md-6">
								{{ form_row(form.student_id) }}
								{{ form_row(form.first_name) }}
								{{ form_row(form.middle_name) }}
								{{ form_row(form.last_name) }}
							</div>
							<div class="col-md-6">
								{{ form_row(form.email) }}
								{{ form_row(form.phone) }}
								{{ form_row(form.address) }}
								{{ form_row(form.save) }}
							</div>
						{{ form_end(form) }}
					</div>
	            </div>
	        </div>
	    </div>

		{% include 'parts/footer.twig' %}

	</div>

</div>

{% endblock content %}

{% block library_scripts %}
	<script src="{{ asset('assets/js/paper-dashboard.js') }}"></script>
{% endblock library_scripts %}