{% extends "layout.html.twig" %}

{% block library_stylesheets %}
    <link href='//fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ asset('assets/css/paper-dashboard.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/css/themify-icons.css') }}">
{% endblock library_stylesheets %}

{% block content %}

<div class="wrapper">

	{% include 'parts/sidebar.twig' %}

	<div class="main-panel">

		{% include 'parts/navbar.twig' %}

	    <div class="content">
	        <div class="container-fluid">
	            <div class="row">
					<div class="col-md-offset-10 col-md-2">
						<a href="{{ path('students.create') }}" class="btn btn-success"><i class="ti-user"></i> Create student</a>
						<br><br>
					</div>
					<table class="table table-bordered table-condensed">
						<thead>
							<th>Student ID</th>
							<th>Firstname</th>
							<th>Lastname</th>
							<th>Actions</th>
						</thead>
						<tbody>
						{% for d in data %}
							<tr>
								<td>{{ d.student_id }}</td>
								<td>{{ d.first_name }}</td>
								<td>{{ d.last_name }}</td>
								<td>
									<div class="btn-group" role="group" aria-label="...">
										<a href="{{ path('students.update', {id: d.id}) }}" class="btn btn-default">Edit</a>
										<a href="{{ path('students.delete', {id: d.id}) }}" class="btn btn-default">Delete</a>
									</div>
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
	            </div>
	        </div>
	    </div>

		{% include 'parts/footer.twig' %}

	</div>

</div>

{% endblock content %}

{% block library_scripts %}
	<script src="{{ asset('assets/js/paper-dashboard.js') }}"></script>
{% endblock library_scripts %}